.navbar-menu .scanner-bg .scanner-btn {
    width: 80px;
    height: 80px;
}
.navbar-menu .scanner-bg {
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40%;
}
.header-panel .logo{
    height: 150px;
    width: auto;
}
.sidebar-offcanvas .sidebar-header .sidebar-logo .logo{
    width: 200px;
}
.text-theme{
    color: var(--bs-indigo);
}
.breadcrumb-item {
    font-size: 20px;
}
