body{
    background-color: #F3F3F3;
}
@media only screen and (min-width: 992px) {
    .container {
        max-width: 980px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 720px;
    }
}

.ff-dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-primary-color{
    color: var(--primary-color);
}
.text-light-primary-color{
    color: var(--primary-light-color);
}

.bg-primary-color{
    background-color: var(--primary-color);
}
.bg-light-primary-color{
    background-color: var(--primary-light-color);
}

.footer-nav ul li.active a span{
    color: var(--primary-color);
}
@media (max-width: 575px) {
    .col-xs-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
}

.card .card-scroll {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.h100p {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 270px);
    justify-content: space-between;
}

.h100p-list {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 390px);
    justify-content: space-between;
}

.h-50px{
    height: 50px;
}

.w-50px{
    width: 50px;
}
.w-100px{
    width: 100px;
}
.w-125px{
    width: 125px;
}
.w-150px{
    width: 150px;
}
.w-175px{
    width: 175px;
}
.w-200px{
    width: 200px;
}
.w-225px{
    width: 225px;
}
.w-250px{
    width: 250px;
}
.w-275px{
    width: 275px;
}
.w-300px{
    width: 300px;
}
.w-325px{
    width: 325px;
}
.w-350px{
    width: 350px;
}
.w-375px{
    width: 375px;
}
.w-400px{
    width: 400px;
}
.w-410px{
    width: 410px;
}
.w-425px{
    width: 425px;
}
.w-450px{
    width: 450px;
}
.w-475px{
    width: 475px;
}
.w-500px{
    width: 500px;
}
.cursor-pointer{
    cursor: pointer;
}

/* HEADER */
.header-content {
    height: 100px;
}
.header-content.header-style-two .search-trigger-btn{
    color: var(--primary-color) !important;
}

/* CONTENT */
.page-content-wrapper{
    margin-top: 16px;
    height: calc(100vh - 210px);
}

/* FOOTER */
.footer-nav.footer-style-two li.active a {
    background-color: var(--primary-light-color);
    width: 5rem;
    height: 5rem;
}
.footer-nav.footer-style-two li.active a::before{
    background-color: var(--primary-color);

}
.footer-nav ul li a i {
    font-size: 22px;
}
.footer-nav{
    z-index: 99;
}

/* PRODUTOS */
.content-produt{
    height: calc(100vh - 190px);
    overflow-y: scroll;
}
.single-product-card .product-title{
    color: var(--bs-gray-600);
    margin-top: unset;
}
.single-product-card .product-thumbnail{
    width: 190px;
    height: 150px;
}
.single-product-card .product-thumbnail .badge{
    right: 2px;
    bottom: 2px;
}
.single-product-card .sale-price {
    font-size: 22px;
}

.bagde-cart{
    right: 0 !important;
    top: -10px !important;
    border: 2px solid white;
}
.cart-table table .remove-product{
    color: var(--bs-danger);
}
.cart-table .table tbody td, .cart-table .table tbody th{
    padding: 0.25rem 0.25rem !important;
}
.single-product-card .sale-price{
    color: var(--primary-color);
}
.card-product:active{
    -xpedu-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.pulse {
    animation: pulse-animation 1s infinite;
}
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 5px rgba(220, 53, 69, 0.6);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }
}

/* FINISH */
.content-finish{
    height: calc(100vh - 190px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* CART */
.list-group-item.primary {
    background-color: var(--white);
    color: var(--bs-primary);
}
.list-group-item.primary::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-primary);
    top: 13%;
    left: 0;
    z-index: -10;
}
.list-group-item.secondary {
    background-color: var(--white);
    color: var(--bs-gray-600);
}
.list-group-item.secondary::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-gray-600);
    top: 13%;
    left: 0;
    z-index: -10;
}
.list-group-item.success {
    background-color: var(--white);
    color: var(--bs-success);
}
.list-group-item.success::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-success);
    top: 13%;
    left: 0;
    z-index: -10;
}
.list-group-item.info {
    background-color: var(--white);
    color: var(--bs-info);
}
.list-group-item.info::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-info);
    top: 13%;
    left: 0;
    z-index: -10;
}
.list-group-item.warning {
    background-color: var(--white);
    color: var(--bs-warning);
}
.list-group-item.warning::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-warning);
    top: 13%;
    left: 0;
    z-index: -10;
}
.list-group-item.danger {
    background-color: var(--white);
    color: var(--bs-danger);
}
.list-group-item.danger::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-danger);
    top: 13%;
    left: 0;
    z-index: -10;
}
.list-group-item.dark {
    background-color: var(--white);
    color: var(--bs-dark);
}
.list-group-item.dark::after {
    position: absolute;
    width: 3px;
    height: 74%;
    content: "";
    background-color: var(--bs-dark);
    top: 13%;
    left: 0;
    z-index: -10;
}

.text-theme{
    color: var(--primary-color);
}
.border-theme{
    border-color: var(--primary-color) !important;
}
.border-theme-light{
    border-color: var(--primary-light-color) !important;
}
.btn-theme{
    color: #ffffff;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.btn-theme:hover{
    color: var(--primary-color) !important;
    background-color: var(--primary-light-color) !important;
    border-color: var(--primary-light-color) !important;
}
/*
.btn-theme:hover{
    color: var(--primary-color);
    border:2px solid var(--primary-color) !important;
}*/
.header-content .back-button a i{
    font-size: 3rem !important;
}
.header-content.header-style-two .navbar--toggler,
.header-content.header-style-two .search-trigger-btn{
    width: 3rem !important;
    height: 3rem !important;
}
.input-group-text{
    color: var(--primary-color);
    background-color: #e9ecef;
    border-color: #ced4da;
}

/* FORM */

.form-label {
    font-size: 18px;
    color: #8480ae;
    font-weight: 500;
}
.form-control {
    border-color: #ced4da !important;
}

.required:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: var(--bs-danger);
    padding-left: .25rem;
    font-weight: 600;
}
.form-control.form-control-lg.form-control-cart {
    padding: 0.6rem .4rem;
}
div.dt-container div.dt-length select{
    width: 60px !important;
}
table.table{
    font-size: 16px;
}
.sidenav-profile{
    background-color: var(--primary-light-color);
}
.cart-table .qty-text {
    width: 4rem;
}
.cart-table table .remove-product:hover,
.cart-table table .remove-product:focus {
    background-color: var(--primary-color);
}
li.page-item.active > span{
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}
li.page-item > a,
li.page-item > span,
li.page-link > span{
    color: var(--primary-color);
    font-size: 18px !important;
}
.breadcrumb-item + .breadcrumb-item::before{
    font-family: "Font Awesome 6 Pro";
    content: "\f101" !important;
}

.login-container{
    max-width: 770px;
}

/* TABS */
.standard-tab .btn.active {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.25rem var(--primary-light-color);
}
.table-secondary,
.table-primary,
.table-success,
.table-info,
.table-warning,
.table-danger,
.table-light,

.form-control-plaintext,

.dropdown-item,
.dropdown-item-text,
.list-group-item-action,
.popover-body{
    color: var(--primary-color);
}
.form-control.form-control-clicked {
    background-color: unset;
}
.single-counter-wrap {
    z-index: 0;
}
.bg-theme-light-hover:hover{
    border:2px solid var(--primary-color) !important;
    background-color: var(--primary-light-color) !important;
}
